<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm kiếm thông tin tốt nghiệp</title>
</head>
<body>

<h2>Tìm kiếm thông tin tốt nghiệp</h2>

<form action="/totnghiep/excute-search" method="GET">
    <label for="maCongTy">Mã công ty:</label>
    <input type="text" id="maCongTy" name="maCongTy">

    <label for="tenCongTy">Tên công ty:</label>
    <input type="text" id="tenCongTy" name="tenCongTy">

    <label for="chuyenNganh">Chuyên ngành:</label>
    <input type="text" id="chuyenNganh" name="chuyenNganh">

    <label for="ngayTotNghiep">Ngày tốt nghiệp:</label>
    <input type="date" id="ngayTotNghiep" name="ngayTotNghiep">

    <button type="submit">Tìm kiếm</button>
</form>


</body>
</html>
