<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kết quả tìm kiếm</title>
</head>
<body>

<h2>Kết quả tìm kiếm</h2>

<div>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Họ tên Sinh viên</th>
                <th>Email</th>
                <th>Mã công ty</th>
                <th>Tên công ty</th>
                <th>Chuyên ngành</th>
                <th>Ngày tốt nghiệp</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="totNghiep : ${results}">
                <tr>
                   <td th:text="${totNghiep.hoTenSinhVien}"></td>
                    <td th:text="${totNghiep.emailSinhVien}"></td>
                    <td th:text="${totNghiep.maCongTy}"></td>
                    <td th:text="${totNghiep.tenCongTy}"></td>
                    <td th:text="${totNghiep.chuyenNganh.tenNganh}"></td>
                    <td th:text="${totNghiep.ngayTotNghiep}"></td>   
                </tr>
            </th:block>
        </tbody>
    </table>
</div>

</body>
</html>
